@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "GoodTiming";
  src: url("../font/good_timing_bd.otf") format("opentype");
}

:root {
  --noir: #111;
  --blanc: #fff;
  --rouge: #cb3150;
  --orange: #eb5f29;

  --gap-horizontal: 7vw;
  --padding: 0 50px 60px 50px;

  --border-radius: 16px;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  color: var(--noir);
  margin: 0;
}

/* header, footer et navigation */
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--noir);

  padding: 30px;
}

header {
  width: 85%;
  position: fixed;

  top: 20px;

  /* centrer le header */
  left: 50%;
  transform: translateX(-50%);

  border-radius: var(--border-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  /* permet de rester au dessus de tout les autres éléments  */
  z-index: 1;
}

footer {
  width: 100%;
  flex-direction: column;
  gap: 20px;

  border-radius: var(--border-radius) var(--border-radius) 0 0;

  span {
    color: var(--blanc);
  }
}

a {
  color: var(--blanc);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.navigation_principale {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-horizontal);
  list-style: none;
}

.navigation_page {
  position: sticky;
  top: 50%;

  background-color: var(--orange);
  border-radius: var(--border-radius);

  padding: 5px 8px;
}

/* corps de la page */

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--gap-horizontal);
  grid-row-gap: 50px;

  padding: var(--padding);
  padding-top: 150px;
}

.section_article {
  grid-area: 2 / 1 / 3 / 3;
}

aside {
  grid-area: 2 / 3 / 3 / 4;
  position: relative;
}

#webographie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: var(--padding);
}

/* titres */
h1,
h2,
h3 {
  font-family: "GoodTiming", sans-serif;
}

h1 {
  grid-area: 1 / 1 / 2 / 4;
  text-align: center;

  font-size: 36px;
  color: var(--rouge);
}

h2 {
  font-size: 26px;
  color: var(--orange);
}

h3 {
  font-size: 22px;
}

/* paragraphe */

p {
  margin-bottom: 30px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

/* listes */

ul {
  margin: 0;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 20px;

  list-style: upper-roman inside;

  color: var(--blanc);
}

/* tableau */

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 0.5px solid var(--noir);
}

thead {
  background-color: var(--rouge);
  color: var(--blanc);

  font-size: 18px;
}

tbody {
  td {
    padding: 5px;
  }

  a {
    color: var(--noir);
  }
}
